.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;

  }
}