.cover__link {
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    text-decoration: none;
    position: relative;
    margin: 0 auto;
}
.cover__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 1s linear;
}
.cover__link:hover::after {
    opacity: 0.8;
}
@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
    }
    
}
@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }
    
}
@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
    
}