.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2e2c2f;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}