.places {
    margin: 92px 0;
}
@media screen and (max-width: 1023px) {
    .places {
        margin-top: 88px;
    }
}
@media screen and (max-width: 767px) {
    .places {
        margin-top: 64px;
    }
}