.places {
    margin: 92px 0;
}
@media screen and (max-width: 1023px) {
    .places {
        margin: 88px 0;
    }
}
@media screen and (max-width: 767px) {
    .places {
        margin: 64px 0;
    }
}