.header {
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
  padding:  28px 0 0;
}
@media screen and (max-width: 1023px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
  }
}