.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFF;
    text-decoration: none;
    margin: 0 0 0 18px;
    transition: opacity 0.5s linear;
}
.footer__link:first-of-type {
    margin: 0;
}
.footer__link:hover {
    opacity: 0.8;
}

@media screen  and (max-width: 767px) {
   .footer__link {
       margin: 32px 0 0;
       font-size: 24px;
       line-height: 1.0;
   }
}