.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    margin: 26px 0 0;
}
.place__paragraph:first-of-type {
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .place__paragraph {
        margin: 27px 0 0;
    }
}
@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        margin: 25px 0 0;
    }
}