.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    margin: 2px 0 0;
}
@media screen  and (max-width: 767px) {
   .footer__copyright {
       margin-top: 48px;
       line-height: 1.0;
    }
 }