.intro {
    margin: 92px 0 92px 148px;
    max-width: 690px;
}
@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
}
@media screen and (max-width: 1023px) {
    .intro {
        margin: 88px 24px;
        max-width: 720px;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        margin: 64px 16px;
    }
}
