.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 640px;
  margin: 32px auto 64px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 16px auto 40px;
    font-size: 16px;
    max-width: 288px;
  }
}