.cover {
    margin: 92px 0;
}
@media screen and (max-width: 1023px) {
   .cover {
       margin: 90px 0 88px
   }
    
}
@media screen and (max-width: 767px) {
    .cover {
        margin: 66px 0 64px
    }
 }