.cover {
    margin: 92px 0;
}

@media screen and (max-width: 1023px) {
   .cover {
       margin-top: 90px;
       margin-bottom: 88px;
   }
    
}
@media screen and (max-width: 767px) {
    .cover {
        margin-top: 66px;
        margin-bottom: 64px;
    }
 }