.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    transition: opacity 0.5s linear;
}
.place__link:hover {
    opacity: 0.8;
}