.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #fff;
    margin: 245px auto 32px;
    max-width: 560px;
    z-index: 1;
    position: relative;
}
@media screen and (max-width: 1279px) {
   .cover__title {
        margin-top: 195px;
   }
}
@media screen and (max-width: 1023px) {
    .cover__title {
        margin-top: 115px;
    }
 }
 @media screen and (max-width: 767px) {
    .cover__title {
        margin: 33px auto 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}