.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr minmax(460px, max-content);
    gap: 48px 40px;
    max-width: calc(100% - 148px*2);
    margin: 80px auto 0;
}
@media screen and (max-width: 1279px) {
    .place {
        max-width: calc(100% - 48px*2);
        gap: 48px 32px;
        grid-template-columns: 440px 1fr;
        grid-template-rows: 1fr minmax(440px, max-content);
    }
}
@media screen and (max-width: 1023px) {
    .place {
        margin: 73px auto 0;
        max-width: calc(100% - 24px*2);
        grid-template-columns: 340px 1fr;
        grid-template-rows: 1fr minmax(340px, max-content);
        gap: 48px 28px;
    }
}
@media screen and (max-width: 767px) {
    .place {
        margin: 50px auto 0;
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat( 4, minmax(min-content, max-content));
        gap: 32px;
    }
}