.footer {
    display: flex;
    margin: 92px auto 0;
    padding-bottom: 24px;
    max-width: calc(100% - 48px*2);
    justify-content: space-between;
}
@media screen  and (max-width: 1023px) {
    .footer {
        margin-top: 88px;
        max-width: calc(100% - 24px*2);
    }
}
@media screen  and (max-width: 767px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
        max-width: calc(100% - 16px*2);
    }
}